<aside class="Hui-aside">
  <span id="caution"></span>
  <div class="menu_dropdown bk_2" id="list">
    <dl id="">
      <dt>
        <a data-href="/admin/notes/noteslist" data-title="查看记录" href="javascript:void(0)">
          <i class="Hui-iconfont">&#xe613;</i> 查看记录<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
        </a>
      </dt>
    </dl>
    <dl id=" ">
      <dt>
        <a data-href="/admin/notes/test2" data-title="查看计划" href="javascript:void(0)">
          <i class="Hui-iconfont">&#xe613;</i> 查看计划<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
        </a>
      </dt>
    </dl>
    <dl id=" ">
      <dt>
        <a data-href="/admin/notes/addnotes" data-title="添加管理" href="javascript:void(0)">

          <i class="Hui-iconfont">&#xe613;</i> 添加管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
        </a>
      </dt>
    </dl>
    <dl id=" ">
      <dt>
        <a data-href="article-add.html"  href="javascript:void(0)">
          <i class="Hui-iconfont">&#xe613;</i> 退出登录
        </a>
      </dt>
    </dl>

  </div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>

